{% extends 'base.html.twig' %}

{% block title 'About us' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
        <h1>A Propos de nous</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur explicabo iste iure nihil nobis ratione repellat repudiandae ullam unde voluptates? Alias consequatur deserunt nostrum pariatur saepe! At expedita quod vero.</p>
        </div>
    </div>
        <div class="container mt-4">
            <h2>Notre histoire</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur explicabo iste iure nihil nobis ratione repellat repudiandae ullam unde voluptates? Alias consequatur deserunt nostrum pariatur saepe! At expedita quod vero.</p>
        </div>

{% endblock %}