{% extends 'base.html.twig' %}

{% block title 'Information' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
        <h1>Informations</h1>
            <p>Visitez notre site, et contactez nous si un bien vous intéresse ou pour toutes autres informations.</p>
        </div>
    </div>
        <div class="container mt-4">
            <h2>Comment nous contacter</h2>
            <p>Cliquez sur un bien, sur le boutton "nous contacter" et remplissez les champs.</p>
        </div>

{% endblock %}