{% extends 'base.html.twig' %}

{% block title 'Privacy Policy' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
        <h1>Privacy Policy</h1>
            <p>This is a safe space.<br>
                The website uses cookies, tracking pixels and related technologies. Cookies are small data files that are served by our platform and stored on your device. Our site uses cookies dropped by us or third parties for a variety of purposes including to operate and personalize the website. Also, cookies may also be used to track how you use the site to target ads to you on other websites</p>
        </div>
    </div>
        <div class="container mt-2">
            <h2>Politique de confidentialité</h2>
            <p>C'est un espace sécurisé.<br>
Le site Web utilise des cookies, des pixels de suivi et les technologies associées. Les cookies sont de petits fichiers de données servis par notre plate-forme et stockés sur votre appareil. Notre site utilise des cookies que nous ou des tiers avons abandonnés à diverses fins, notamment pour exploiter et personnaliser le site Web. Les cookies peuvent également être utilisés pour déterminer comment vous utilisez le site pour vous cibler des annonces sur d'autres sites Web.</p>
        </div>

{% endblock %}